<div class="container">
  <h1>My Projects</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'iguana.jpg', class: 'card-img-top', alt: 'Iguana Page' %>
        <div class="card-body">
          <h5 class="card-title">Iguana Page</h5>
          <p class="card-text">Sitio Web Oficial de Iguana Page</p>
          <%= link_to "Ver m치s", "https://github.com/xoshdev/desafio_1295", class: "btn btn-primary vermas",target: "_blank" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'cupon.jpg', class: 'card-img-top', alt: 'Cupones' %>
        <div class="card-body">
          <h5 class="card-title">Cuppon Site</h5>
          <p class="card-text">Aplicaci칩n para Cupones</p>
          <%= link_to "Ver m치s", "https://github.com/xoshdev/desafio_751", class: "btn btn-primary vermas",target: "_blank" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'viajes.jpg', class: 'card-img-top', alt: 'Viajes Chile' %>
        <div class="card-body">
          <h5 class="card-title">Viajes Chile</h5>
          <p class="card-text">Sitio web de Viajes Chile</p>
          <%= link_to "Ver m치s", "https://xoshdev.github.io/desafio_756", class: "btn btn-primary vermas",target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>